h1
{
    text-align: center;
    font-family: "Lucida Blackletter", eufm10, blackletter;
    color: darkblue;
    margin-bottom: 0%;
}

#botheader
{
    margin-top: 10px;
    height: 25px;
    text-align: center;
    background: purple;
}

a
{
    color: darkblue;
    border: solid;
}

h2
{
    margin-top: 1px;
    text-align: center;
}
body
{
    background-image: url("stars.jpeg");
    background-blend-mode: lighten;
    background-size: 100%;
    opacity: 20;
}

header
{
    background-color: darkcyan;
    display: block;
    width: 100%;
    font-stretch: condensed;
}
pre
{
    font-family: "Apple Braille";
    text-align: left;
}

table
{
    border-collapse: collapse;
    background-color: #888888;
    border: solid;
    border-spacing: 20px;
    padding: 2px;
    font-family: "Lucida Blackletter", eufm10, blackletter;
    font-size: 200%;
    width: 90%;
    color: black;
}

td.ram
{
    text-align: center;
    padding: 20px;
}
th
{
    padding: 5px;
    background-color: darkcyan;
}

caption
{
    margin-bottom: 20px;
    color: #cc3333;
}

form
{
    display: block;
    background-color: #9999cc;
    height: 100%;
    width: 50%;
    border: solid;
    padding-left: 5px;
    margin-left: auto;
    margin-right: auto;
}
input
{
    height: 10px;
}
article
{
    margin-bottom: 50px;
}
/*footer*/
/*{*/
    /*vertical-align: bottom;*/
/*clear:both;*/
    /*width: 100%;*/
/*display:block;*/
/*text-align:center;*/
/*font-family:Arial, Helvetica, Geneva, Swiss, sans-serif;*/
/*font-size:80%;*/
/*padding:0;*/
    /*margin-top: 50px;*/
/*background-color:#789;*/
/*}*/
#topfoot
{
    background-image: url("bgrd.jpeg");
    font-size: 60px;
    display: block;
    background-color:darkcyan;
    height: 200px;
    text-align: center;
    margin-bottom: 5px;
}

video
{
    border: solid;
    border-width: thick;
    align-self: center;
    width: 50%;
    height: 50%;
}
